<% include ../header %>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:3000'); 
    socket.on('send-client', (msg) => {
        var chat = document.getElementById('chat'); 
        chat.innerHTML += msg;         
    }); 
    let enviar = function() {                
        var msg = document.getElementById('msg'); 
        // console.log(msg); 
        socket.emit('send-server', msg.value); 
        msg.value = ''; 
        msg.focus();
    }
</script>
<header>
    <h2>Ntalk - chat</h2>
</header>
<section>
    <pre id="chat"></pre>    
    <input type="text" class="form-control col-md-4" id="msg" placeholder="Mensagem"><br>
    <button class="btn btn-primary col-md-4" onclick="enviar();">Enviar</button>
</section>
<% include ../exit %>
<% include ../footer %>
