<html>
    <head>
        <title>Mine-Char NodeJs</title>
    </head>
    <body>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://localhost:3000');             
            socket.on('send-client', (msg) => {
                var chat = document.getElementById('chat'); 
                chat.innerHTML += msg; 
            }); 
            var enviar = function() {
                var msg = document.getElementById('msg'); 
                socket.emit('send-server', msg.value); 
                msg.value = ''; 
                msg.focus();
            }; 
        </script>
        <section>
            <pre id="chat"></pre>
            <input type="text" id="msg" placeholder="Sua Mensagem">
            <input type="button" value="Enviar" onclick="enviar();">
        </section>
    </body>
</html>