<html>
    <body>        
        <section>
            <form action="/entrar" method="POST">
            <pre id="chat"></pre>
            <input type="text" name="nome" id="nome" placeholder="Digite seu nome">
            <button type="submit">Enviar</button>
            </form>
        </section>
    </body>
</html>